@(account: models.entities.Account,message: String)

@main("マイページ"){
<div class="container">
    <h1>企業マイページ</h1>

    @message
    <br>
    @session.get("AccountID")
    <br>
    @account
    <br>
    @account.getInfo()

    <a href="@routes.AgentController.myPage()">リロード</a>
    <a href="@routes.AdminController.showTableData()">データベース確認</a>
</div> <!-- /container -->
}