@(form: Form[models.forms.account.AccountInfoForm],message: String)
@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-xs-2", "col-xs-10")}

@main("登録画面"){
<div class="container">
    <h2>ユーザ情報登録</h2>

    @message

    @b4.form(action = routes.AgentController.signUp()) {

    @b4.text(form("familyName"), '_label -> "姓")
    @b4.text(form("firstName"), '_label -> "名")

    @b4.text(form("familyNameKana"), '_label -> "姓(カナ)")
    @b4.text(form("firstNameKana"), '_label -> "名(カナ)")

    @b4.radio( form("gender"), options = mapAsScalaMap(Gender.valuesAsMap()).toSeq, '_label -> "性別" )

    @b4.date(form("birthday"), '_label -> "生年月日")

    @b4.tel( form("phoneNumber"), '_label -> "電話番号" )

    @b4.submit('class -> "btn btn-primary btn-block"){ 登録 }
    }
    <a href="@routes.AdminController.showTableData()">データベース確認</a>
</div> <!-- /container -->
}