
/* 共通設定
-------------------------------------------------- */

/* コンテンツが少ないときはフッターの背景を表示する */
html{
    background-color: #eceeef;
}

/* footerの表示領域基準設定 */
body {
    position: relative;
    min-height: 100%;
}

header {
}

main {
}

/* 最下部にfooterを表示 */
footer {
    position: absolute;
    bottom: 0;
    height: 0px;
    width: 100%;
}

/* 共通設定予備 */
.global-style{
}
