@()
<footer>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul>
                        <li><b>ご利用ガイド</b></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> ご利用ガイド～求職者向け～</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> ご利用ガイド～企業向け～</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> 金額設定一覧</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> プライバシーポリシー</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> 利用規約</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-triangle-right"></span> お問い合わせ</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <address>
                        <dl>
                            <dt>運営会社</dt>
                            <dd>株式会社 UKnet</dd>
                            <dd>〒114-0013</dd>
                            <dd>東京都北区東田端1-13-10 ツインビル田端A棟 7F</dd>
                            <dd>FAX:03-5692-5035</dd>
                        </dl>
                    </address>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-2">Copyright&copy; Uknet. All Rights Reserved.</div>
        </div>
    </div>
</footer>