@()
<header>
    <nav class="navbar navbar-toggleable-sm sticky-top navbar-inverse bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="col navbar-brand" href="/">
                    <img class="img-fluid" src='@routes.Assets.versioned("/images/header_logo_portal.png")'>
                </a>
                <button class="col navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- 右寄せ -->
            <ul class="navbar-nav ml-auto align-self-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">ようこそ、
                        @if(session.get("UserName") == null){
                        ゲスト
                        }else{
                        @session.get("UserName")
                        }
                        さん<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            @if(session.get("AccountID") == null){
            <form class="form-inline">
                <a class="btn btn-warning mr-2 col" href="@routes.AccountController.register()" role="button">
                    <i class="fa fa-user-plus" aria-hidden="true"></i></span> 新規登録
                </a>
                <a class="btn btn-info my-2 col" href="@routes.AccountController.login()" role="button">
                    <i class="fa fa-sign-in" aria-hidden="true"></i></span> ログイン
                </a>
            </form>
            }else{
            <form class="form-inline">
                <a class="btn btn-info mr-2 col" href="@routes.AccountController.gateway()" role="button">
                    <i class="fa fa-home" aria-hidden="true"></i></span> マイページ
                </a>
                <a class="btn btn-danger my-2 col" href="@routes.AccountController.logout()" role="button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i></span> ログアウト
                </a>
            </form>
            }
        </div>
    </nav>
</header>