@(form: Form[models.forms.company.CompanyForm],message: String)
@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-xs-2", "col-xs-10")}

@main("登録画面"){
<div class="container">
    <h2>企業情報登録</h2>

    @message

    @b4.form(action = routes.AgentController.enrollCompany()) {

    @b4.text(form("companyName"), '_label -> "企業名")
    @b4.tel(form("phoneNumber"), '_label -> "電話番号")
    @b4.text(form("postalCode"), '_label -> "郵便番号")
    @b4.text(form("prefecture"), '_label -> "都道府県")
    @b4.text( form("city"), '_label -> "市区町村" )
    @b4.date(form("houseNumber"), '_label -> "番地")
    @b4.tel( form("building"), '_label -> "建物名/部屋番号(その他)" )

    @b4.submit('class -> "btn btn-primary btn-block"){ 登録 }
    }

    <a href="@routes.AdminController.showTableData()">データベース確認</a>
</div> <!-- /container -->
}