
@main("登録タイプ選択"){
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-auto col-md-6">
            <h1>利用方法の選択</h1>
            <p>本サイトの利用方法を選択してください</p>

            <a href="@routes.AgentController.register()">企業として登録する</a>

            <a href="@routes.UserController.register()">求職者として登録する</a>

            <a href="@routes.AdminController.showTableData()">データベース確認</a>
        </div>
    </div><!--/row-->
</div> <!-- /container -->
}