@(form: Form[models.forms.account.VerificationForm],massage: String)
@import b4.vertical.fieldConstructor

@main("登録メール確認"){
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">
            <h1>登録メール確認</h1>
            @massage

            @b4.form(action = routes.AccountController.verifyToken()) {

            @b4.text(form("token"), '_label -> "確認用トークン", 'placeholder -> "半角数字6文字")

            <div class="row justify-content-center">
                <div class="col col-md-6">
                    @b4.submit('class -> "btn btn-info btn-block"){ 確認 }
                </div>
            </div>
            }
        </div>
    </div><!--/row-->
</div> <!-- /container -->
}