@(form: Form[models.forms.account.LoginForm],message: String)
@import b4.vertical.fieldConstructor

@main("ログイン"){
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-auto col-md-6">
            <h1>ログイン</h1>
            <p>
                @message
            </p>

            @b4.form(action = routes.AccountController.signIn()) {

            @b4.email(form("emailAddress"), '_label -> "メールアドレス", 'placeholder -> "例）example@bestjob.co.jp")
            @b4.password(form("password"), '_label -> "パスワード", 'placeholder -> "半角英数字8文字以上")

            <div class="row justify-content-center">
                <div class="col col-md-6">
                    @b4.submit('class -> "btn btn-info btn-block"){ ログイン }
                </div>
            </div>
            }

            <a href="@routes.AdminController.showTableData()">データベース確認</a>
        </div>
    </div><!--/row-->
</div> <!-- /container -->
}