@(form: Form[models.forms.account.AccountForm],message: String)
@import b4.vertical.fieldConstructor

@main("新規アカウント登録"){
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-auto col-md-6">
            <h1>新規アカウント登録</h1>
            <p>
                @message
            </p>

            @b4.form(action = routes.AccountController.signUp()) {

            @b4.email(form("emailAddress"), '_label -> "メールアドレス", 'placeholder -> "例）example@bestjob.co.jp")
            @b4.password(form("password"), '_label -> "パスワード", 'placeholder -> "半角英数字8文字以上")
            @b4.password(form("passwordCheck"), '_label -> "パスワード確認用", 'placeholder -> "上記と同じパスワードを入力してください")
            <div class="row justify-content-center">
                <div class="col col-md-6">
                    @b4.submit('class -> "btn btn-primary btn-block"){ 登録 }
                </div>
            </div>
            }

            <a href="@routes.AdminController.showTableData()">データベース確認</a>
        </div>
    </div><!--/row-->
</div> <!-- /container -->
}